[submodule "public"]
	path = public
	url = git@github.com:danbadge/danbadge.github.io.git
	branch = master
[submodule "themes/hemingway2"]
	path = themes/hemingway2
	url = https://github.com/cmcaine/hemingway2.git
	branch = master
