body, html, p, span, div {
  font-family: 'Lora', 'Georgia';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Lucida Sans', sans-serif;
  font-weight: 600;
}

nav.level div {
  font-family: 'Open Sans', 'Lucida Sans', sans-serif;
  font-weight: 300;
}

nav .nav-item h1.title {
  font-family: 'Open Sans', 'Lucida Sans', sans-serif;
  font-weight: 600;
  font-size: 32px;
}

h2 .subtitle {
  font-weight: 300;
  color: rgba(0,0,0,.44);
}

h1.title, h2.title {
  font-weight: 600;
}

h1.title a:hover {
  text-decoration: none;
  border-bottom: none;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #2f3237;
}

.section .content a:visited, .section .content a {
  text-decoration: underline;
  border-bottom: none;
  color: #2f3237;
}

.section .content, .content strong {
  color: #2f3237;
}

.list.section .content a {
  display: block;
  text-decoration: none;
}

.list article+article {
  margin-top: 60px;
}

.post .content h1:not(:first-child),
.post .content h2:not(:first-child),
.post .content h3:not(:first-child),
.post .content h4:not(:first-child),
.post .content h5:not(:first-child),
.post .content h6:not(:first-child) {
  margin-top: 60px;
}

.post .content h2::before {
    content: none;
}
